<footer class="site-footer">
	<div class="container">
    	<div class="row">
    		<div class="col-sm-12 col-md-8">
            	<h6>About</h6>
            	<p class="text-justify">Samyak Drishti Foundation aims to bring passionate and motivate individuals to make the world a better place by helping the less fortunate. </p>
				<p>
					We believe optimism is a form of courage. We believe that a billion acts of courage can spark a brighter tomorrow.
To that end we model courage, we champion courage, we share stories of courageous acts by our supporters and allies, we invite people out of their comfort zones to take courageous action with us, individually in their daily lives, and in community with others who share our commitment to a better world.
				</p>
        	</div>
        	<div class="col-xs-6 col-md-2">
            	<h6>Categories</h6>
            	<ul class="footer-links">
					<li><a href="#">About Us</a></li>
            		<li><a href="#">Our Vision</a></li>
            		<li><a href="#">Our Mission</a></li>
              		<li><a href="#">People Behind Us</a></li>
              		<li><a href="#">Events</a></li>
              		<li><a href="#">Media Center</a></li>
              		<li><a href="#">Get Involved</a></li>
            	</ul>
          	</div>
			<div class="col-xs-6 col-md-2">
            <h6>Quick Links</h6>
            <ul class="footer-links">
              <li><a href="#">About Us</a></li>
              <li><a href="#">Contact Us</a></li>
              <li><a href="#">Contribute</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Location</a></li>
            </ul>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        	<div class="row">
          		<div class="col-md-3 col-sm-6 col-xs-12"></div>
          		<div class="col-md-4 col-sm-6 col-xs-12">
            		<ul class="social-icons">
						<li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
						<li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
						<li><a class="dribbble" href="#"><i class="fa fa-instagram"></i></a></li>
              			<li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
            		</ul>
        		</div>
				<div class="col-md-5 col-sm-6 col-xs-12"></div>
    		</div>
     	</div>
	</footer>
	
	<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js"></script>
	<script src="/js/plugins.js"></script>
<script src="/js/carousel.js"></script>
	<script src="/js/main.js"></script>
</body>
</html>