<%- include("partials/header") %>

<div class="container-fluid carousel-container">
	<div class="row carousel-row">
		<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img class="d-block w-100" src="https://3.bp.blogspot.com/-jpLbsTpuhpU/W8Deznc9qzI/AAAAAAAABZ8/E6PBPrV2q90i4bwC5keCR7w4j4vEZajiQCLcBGAs/s1600/Slide1.JPG" alt="First slide">
				</div>
				<div class="carousel-item">
					<img class="d-block w-100" src="https://3.bp.blogspot.com/-eJ-sWN3HDA4/WlWsUhLuewI/AAAAAAAAAT8/ainhq78AiW8MCUTKKABoXq-Gqx_bsV0XACLcBGAs/s1600/3.jpg" alt="Second slide">
				</div>
				<div class="carousel-item">
					<img class="d-block w-100" src="https://3.bp.blogspot.com/--yv_s_x_oVU/W9hgcJErQNI/AAAAAAAABb0/LqYE_e57FiYPfa6sdOWvdvVMY71WKqBDwCLcBGAs/s1600/Slide2.JPG" alt="Third slide">
				</div>
				<div class="carousel-item">
					<img class="d-block w-100" src="https://1.bp.blogspot.com/-WQOU96-ys-Q/Xh9fRIwwZOI/AAAAAAAAByo/BwnfEtPkR6oyWN2KZs19Mgy5NVghpip0gCLcBGAsYHQ/s1600/Slide9.JPG" alt="Fourth slide">
				</div>
			<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
	</div>
</div>
 <section class="about_section pb-5">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-12 pt-5">
				<img src="https://2.bp.blogspot.com/-FChyvD9dKrU/XFLYX2YTQ9I/AAAAAAAABgM/o-r7dT9Wy8czVaJTnuE0iciDROOpm6ILgCLcBGAs/s1600/Slide1.JPG" class="img-fluid rounded">
			</div>
			<div class="col-md-6 col-12 pt-5">
				<h2 class="pb-3">Who are we?</h2>
					<p class="text-justify" style="line-height: 24px;">Samyak Drishti Foundation aims to bring passionate and motivate individuals to make the world a better place by helping the less fortunate. "We believe that the best way to empower is by building skills". Lack of Education is the biggest barrier to success. The unprivileged section of the socirety does not have access to education nor resources , we aim to change this state through this initiative</p>
					<p class="text-justify" style="line-height: 24px;">Water is Life!
Yet water pollution and wastage are prevalent in this era.A program to spread awareness and work for water conservation by rain water harvesting, reusing water and prevent wastage..</p>
			</div>
		</div>
	</div>
</section>
	
<section id="counter" class="counter-section">
	<div class="container">
		<ul class="row counters">
			<li class="col-md-4 col-sm-6 sm-padding">
				<div class="counter-content">
					<i class="ti-face-smile"></i>
					<h2 class="counter">100+</h2>
					<h3 class="text-white">Volunteer Around The World</h3>
				</div>
			</li>
			<li class="col-md-4 col-sm-6 sm-padding">
				<div class="counter-content">
					<i class="ti-user"></i>
					<h2 class="counter">1000+</h2>
					<h3 class="text-white">People Impacted</h3>
				</div>
			</li>
			<li class="col-md-4 col-sm-6 sm-padding">
				<div class="counter-content">
					<i class="ti-comments"></i>
					<h2 class="counter">200+</h2>
					<h3 class="text-white">Positive Feedbacks</h3>
				</div>
			</li>
		</ul>
	</div>
</section>
<div class="grid-portfolio" id="portfolio">
	<div class="container">
		<p style="color: white; font-size: 48px">
			Events Gallery
		</p>
		<div class="row">
			<div class="col-md-4 col-sm-6">
				<div class="portfolio-item">
					<div class="thumb">
						<a href="https://2.bp.blogspot.com/-IMZFP-vLO-U/WrduXhV7qeI/AAAAAAAABSg/MFPNJg84PP8KkxVZtR5R_D5qSqOZSyJRgCLcBGAs/s1600/Slide18.JPG" data-lightbox="image-1"><div class="hover-effect">
							<div class="hover-content">
								<h1>Chase Your Dreams</h1>
								<p>Teaching Is Magical</p>
							</div>
						</div></a>
						<div class="image">
							<img src="https://2.bp.blogspot.com/-IMZFP-vLO-U/WrduXhV7qeI/AAAAAAAABSg/MFPNJg84PP8KkxVZtR5R_D5qSqOZSyJRgCLcBGAs/s1600/Slide18.JPG">
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="portfolio-item">
					<div class="thumb">
						<a href="https://1.bp.blogspot.com/-2V0l2rjqrBk/XdGAkPjd0pI/AAAAAAAABuk/9XbzQN4bTpYIJBQ-X0WCvQlAvVIzmocrwCLcBGAsYHQ/s1600/Slide6.JPG" data-lightbox="image-1"><div class="hover-effect">
							<div class="hover-content">
								<h1>Voice Controlled Tech</h1>
								<p>Technical Knoledge Is Bliss</p>
							</div>
						</div></a>
						<div class="image">
							<img src="https://1.bp.blogspot.com/-2V0l2rjqrBk/XdGAkPjd0pI/AAAAAAAABuk/9XbzQN4bTpYIJBQ-X0WCvQlAvVIzmocrwCLcBGAsYHQ/s1600/Slide6.JPG" style="height: 270px">
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="portfolio-item">
					<div class="thumb">
						<a href="https://1.bp.blogspot.com/-Skr16_PKOPQ/Xm6BGWHgjlI/AAAAAAAAB0g/wE7LwpYqun4xJSudwU1u4HBLnYa0v_gwQCLcBGAsYHQ/s1600/1.jpg" data-lightbox="image-1"><div class="hover-effect">
							<div class="hover-content">
								<h1>Women's Day 2020</h1>
								<p>We need more women in this world</p>
							</div>
						</div></a>
						<div class="image">
							<img src="https://1.bp.blogspot.com/-Skr16_PKOPQ/Xm6BGWHgjlI/AAAAAAAAB0g/wE7LwpYqun4xJSudwU1u4HBLnYa0v_gwQCLcBGAsYHQ/s1600/1.jpg">
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="portfolio-item">
					<div class="thumb">
						<a href="https://1.bp.blogspot.com/-Exrb6Z37Pfw/XZuEigoWF_I/AAAAAAAABsw/9jyOsN-8WYApQQ60ryo6SKbCGdAGuEhRACLcBGAsYHQ/s1600/Slide2.JPG" data-lightbox="image-1"><div class="hover-effect">
							<div class="hover-content">
								<h1>Save Apta tree</h1>
								<p>Trees helps you breathe the best.</p>
							</div>
						</div></a>
						<div class="image">
							<img src="https://1.bp.blogspot.com/-Exrb6Z37Pfw/XZuEigoWF_I/AAAAAAAABsw/9jyOsN-8WYApQQ60ryo6SKbCGdAGuEhRACLcBGAsYHQ/s1600/Slide2.JPG">
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="portfolio-item">
					<div class="thumb">
						<a href="https://1.bp.blogspot.com/-hWLZglzwA9c/W9hgdARkLaI/AAAAAAAABcA/iE5Fp0k_yIE1VDyul5f8S0XhNPbZQkg_gCLcBGAs/s1600/Slide5.JPG" data-lightbox="image-1"><div class="hover-effect">
							<div class="hover-content">
								<h1>River Cleaning Drive</h1>
								<p>
									The care of rivers is not a question of rivers but of the human heart.
								</p>
							</div>
						</div></a>
						<div class="image">
							<img src="https://1.bp.blogspot.com/-hWLZglzwA9c/W9hgdARkLaI/AAAAAAAABcA/iE5Fp0k_yIE1VDyul5f8S0XhNPbZQkg_gCLcBGAs/s1600/Slide5.JPG">
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="portfolio-item">
					<div class="thumb">
						<a href="https://4.bp.blogspot.com/-8QRDT4Rq3rI/WxbHB6OrudI/AAAAAAAABVY/6SjwAupdf3Qk0neZVn5OYDLRyiMyNujbwCLcBGAs/s1600/Slide3.JPG" data-lightbox="image-1"><div class="hover-effect">
							<div class="hover-content">
								<h1>World Environment Day</h1>
								<p>The Earth is what we all have in common.</p>
							</div>
						</div></a>
						<div class="image">
							<img src="https://4.bp.blogspot.com/-8QRDT4Rq3rI/WxbHB6OrudI/AAAAAAAABVY/6SjwAupdf3Qk0neZVn5OYDLRyiMyNujbwCLcBGAs/s1600/Slide3.JPG">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="load-more-button">
					<a href="/ngo/events">Load More</a>
				</div>
			</div>
		</div>

	</div>
</div>
	
<section class="mission_and_vision pb-5" style="background-color: #1C1C1C;">
<div class="container">
	<div class="row">
		<div class="col-12 text-center pt-5">
			<h3 style="color: #fff;" ]>OUR MISSION</h3>
			<h4 class="text-white d-inline-block"
				style="font-size: 20px; border: 2px solid white; padding: 15px 25px; border-radius: 20px; margin-top: 15px;">
				PURPOSE, PLANNING, PERSEVERANCE, PASSION, PRIDE</h4>
			<p class="text-justify text-white pt-4">To educate and guide the nation's budding breed which is still deprived from education. "Education is not merely the roadway to earning but the gateway of knowledge which makes a life worthwhile."</p>
			<p class="text-justify text-white">We know that we can’t save our environment overnight. But, having an intention to make this possible is all that count. Reduce wastage of papers. Try not to ruin plants. They are one of the biggest factors that can keep the earth fertile and save the life. Save trees to save our environment. Encourage your child to plant trees in any empty ground. As I said before, the initiative counts. If you feel the need of saving the environment, you will stop others from doing something which can hurt the well being of the nature.</p>
			<p class="text-justify text-white">Take pride in being the part of the progress and allying with a noble cause. The true joy in life is to give yourself to a bigger purpose, to give it your heart and soul, to forget yourself for the fulfilment of that purpose.</p>
		</div>
	</div>
</div>
</section>


<%- include("partials/footer") %>